body{
    background-color: rgb(34, 32, 32);
}
header{
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(17, 84, 184));
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: left;
}
#logo{
    width: 120px;
    height: 120px;
    border-radius: 10px;
    align-items: 'center';
    border: 20px;
    border-bottom: 20px;
}
.titulo-principal{
    color: rgb(255, 255, 255);
    position: absolute;
    text-align: center;
    top: 32%;
    left: 40%;
    transform: translate(-170%, -520%);
    font-size: 45px;
    text-shadow: 5px;
}
a{
    color:rgb(255, 255, 255);
    font-size: 32px;
    transform: translate(90%, -10%);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
}

.box{
    color:rgb(245, 245, 245);
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 25px;
    width: 30%;
}

fieldset{
    border: 3px solid rgb(17, 84, 184);
}

legend{
    border: 1px solid  rgb(17, 84, 184);
    padding: 10px;
    text-align: center;
    background-color: rgb(17, 84, 184);
    border-radius: 8px;
}

.inputBox{
    position:relative
}

.inputUser{
    background: none;
    border: none;/*tirar a borda*/
    border-bottom: 1px solid rgb(255, 255, 255);
    outline: none;/*tirar a linha de fora do input*/
    color: rgb(255, 255, 255);
    font-size: 20px;
    width: 100%;/*comprimento da linha*/
    letter-spacing: 2px;/*espaço entre caracter do input*/
}

.labelinput{  /* animação das labels - nessa parte, as labels irão
        se encaixar dentro dos inputs*/
position: absolute; /* vai ocupar apenas o elemento dela mesma */
top: 0px;
left: 0px;
pointer-events: none;/* qualquer lugar que eu clicar dentro
                    do input, ele vai executar a ação */
transition: 5px;/* transição - para criaçao de efeitos
                de animação personalizado*/
}

/*Quando clicar no input eu quero que a label vai para cima
do input - por isso a ação é no input*/

.inputUser:focus ~ .labelinput, /*executar uma ação na nossa label*/
.inputUser:valid ~ .labelinput{ /*qdo o input tiver válido, eu quero
                            que ele execute essa ação para a
                            label - a informação irá permanecer
                            no input, senão irá ficar por cima*/
top: -20px;
font-size: 20px;
color: rgb(255, 255, 255);
}
#data_nascimento{
    border:none;
    padding: 8px;
    border-radius: 25px;
    outline: none;
    font-size: 15px;
    background-color: rgb(17, 84, 184);
    color: white
}
#enviar{
    background-color: rgb(17, 84, 184);
    width: 100%;
    border: none;/*tirar a borda do botão enviar*/
    padding: 15px;
    color:rgb(245, 245, 245);
    font-size: 15px;
    cursor: pointer;/*quando passar o mouse por cima do botão enviar, muda o cursor*/
    border-radius: 10px;
}
#enviar:hover{
    background-color: rgb(108, 155, 224);
    /*Qdo passar o mouse por cima do botão enviar, irá aplicar azul um pouco mais escuro*/
}
.copyright{
    color: #FFFFFF;
    font-size: 13px ;
    margin: 10px 0 0;
}

footer{
 background-image: linear-gradient(rgb(8, 8, 8), rgb(10, 86, 138));
 text-align: center;
 padding: 10px 0;
 
}
#logo1{
    border-radius: 15px;
    width: 80px;
    height: 80px;
}