body {
    margin: 0;
    background: #eb32ee ;
    background-image: linear-gradient(rgb(255, 255, 255),blue);
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
  }

  .conteudo {
    width: 25vw;
    height: 95vh;
    background: #000000;
    border: 5px solid #002aff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 15px 10px;
    border-radius: 20px;
  }

  button {
    padding: 5px 10px;
    width: 150px;
    background-color: #1e00ff;
    border-radius: 15px;
  }
  button:hover{
    background-color: #ae00ff;
    cursor: pointer;
  }
  img {
    width: 300px;
  }
